.App {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.search-cp {
  margin: auto;
  width: fit-content;
}

.top-buttons {
  border: 2px solid yellowgreen;
  margin: auto;
}

/* sign in button */
.sign-in-button {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 40vh;
}

.middle-buttons {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
}

/* sign out button */
.sign-out-button {
  display: flex;
  justify-content: space-between;
  /* justify-content: flex-end; */
  margin: 10px;
}

/* words list */
.list-words {
  display: flex;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
