/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gSearch {
  border: 2px solid red;
}

splitScreen {
  display: "flex";

  flex-direction: "row";
}
topPane {
  width: "50%";
}
bottomPane {
  width: "50%";
} */

/* buttons */
.buttons {
  /* border: 2px solid red; */
  /* margin-top: 80px; */
  /* margin: auto; */
  /* width: fit-content; */
  /* display: grid;
  grid-template-columns: 33% 33% 33%; */
}

.App {
  /* display: flex;
  flex-direction: column; */
  /* border: 2px solid red; */
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-top: 5vh;
}

.search-cp {
  margin: auto;
  width: fit-content;
}

.top-buttons {
  /* border: 2px solid yellowgreen; */
  margin: auto;
  /* position: absolute; */
  /* margin-top: 20px; */
}

.middle-buttons {
  /* margin: auto; */
  margin-top: 5vh;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;

  /* flex-direction: columSn; */
  /* justify-content: center;
  text-align: center; */
  
}

/* sign in button */
.sign-in-button {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 40vh;
}


/* sign out button */
.sign-out-button{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

/* words list */
.list-words{
  margin-top: 5vh;
}

/* error text area */
.error-text-area{
  
  margin: auto;
  margin-bottom: 5vh;
}